.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 20px rgb(238, 141, 206);
  width: 60%;
  margin-top: 30px;
  margin-bottom: 50px;
}
body {
  background: linear-gradient(to right, #c6426e, #642b73);
}
.header {
  border-bottom: 1px solid #f0f0f0;
  background-color: #f7f7f7;
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
}
#Simpan3 {
  background-color: blue;
  border: 2px solid blue;
  border-radius: 4px;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 40%;
  margin-left: 30px;
}
#Reset3 {
  background-color: green;
  border: 2px solid green;
  border-radius: 4px;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 40%;
  margin-left: 80px;
}
